.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
  margin-bottom: 20px;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

#minefield
{
  margin: 25px;
}

#minefield .row
{
  clear: both;
}

.cell
{
  position: relative;

  float: left;

  width: 32px;
  height: 32px;

  margin: -1px -1px 0 0;
  border: 1px solid #888;

  text-align: center;
  font-size: 16px;
  line-height: 32px;
  font-weight: bold;
}

.cell.covered:after
{
  position: absolute;
  top: 0; left: 0; right: 0; bottom: 0;
  z-index: 9;

  background: #ddd;
  content: '';
}

.cell.flag:after
{
    content: '#';
}
